@charset "UTF-8";

body{
    background-color: aquamarine;
}

h1{
    text-align: center;
    color: blueviolet;
}

h2{
    text-align: justify;
    color: blue;
    
}

p{
    text-align: justify;
    color: rgb(59, 56, 56);
}

#p1{
    text-align: end;
    color: rgb(134, 134, 245);        
}